.hero {
  margin-top: 30%;
  text-align: center;
}

.container {

}

.jumbo {
  font-size: 6em;
}

a.sly {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.grape {
  margin-top: 200%;
  text-align: center;
  margin-bottom: 15px;
}
